<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coding.dao.MainDAO">


  <!-- 유저별 선호 지역 가져오기 - 3개 - ajax -->
  <select id="preferLoc" parameterType="com.example.coding.domain.UserVO" resultType="com.example.coding.domain.MainVO">
    SELECT
      loc1.loc_cate_name AS user_prefer_loc1,
      loc2.loc_cate_name AS user_prefer_loc2,
      loc3.loc_cate_name AS user_prefer_loc3
    FROM
      USER u
      JOIN loc_cate loc1 ON u.user_prefer_loc1 = loc1.loc_cate_code
      JOIN loc_cate loc2 ON u.user_prefer_loc2 = loc2.loc_cate_code
      JOIN loc_cate loc3 ON u.user_prefer_loc3 = loc3.loc_cate_code
    WHERE
      u.user_id = #{user_id}

  </select>


  <!-- 유저 선호 지역으로 사계절 갈 만한 곳 보여주기 -->
  <select id="seasonRecommand" parameterType="com.example.coding.domain.UserVO" resultType="com.example.coding.domain.MainVO">
    SELECT DISTINCT t.tour_name tour_name, t.tour_addr tour_addr
    , t.tour_star tour_star, t.tour_content tour_content, t.tour_img1_path tour_img1_path
    , t.tour_cate_code tour_cate_code, t.tour_num tour_num
    FROM tour t
    JOIN USER u ON (t.tour_cate_name = u.user_prefer_type1 OR t.tour_cate_name = u.user_prefer_type2 OR t.tour_cate_name = u.user_prefer_type3)
    JOIN seasonTable s ON t.loc_cate_code = s.loc_cate_code
    WHERE u.user_id = #{user_id} AND s.season = 1
    AND (t.loc_cate_code = u.user_prefer_loc1 OR t.loc_cate_code = u.user_prefer_loc2 OR t.loc_cate_code = u.user_prefer_loc3)
    ORDER BY t.tour_cate_code, t.tour_star DESC
    LIMIT 4;

  </select>

  <!-- 메인 유저 선호 1/2/3순위 여행지 타입에 대한 여행지 추천 -->
  <select id="getReco" parameterType="com.example.coding.domain.Reco1VO" resultType="com.example.coding.domain.TourVO">
    SELECT tour_num, tour_name, tour_addr, tour_img1_path, tour_img2_path, loc_cate_code
    FROM tour
    WHERE tour_num = #{tour_num1} OR tour_num = #{tour_num2} OR tour_num = #{tour_num3} 
    OR tour_num = #{tour_num4} OR tour_num = #{tour_num5} OR tour_num = #{tour_num6} 
    OR tour_num = #{tour_num7} OR tour_num = #{tour_num8} OR tour_num = #{tour_num9}
  </select>


  <!-- 유저 선호 지역 이름 가져오기 -->
  <select id="getUserInfoLoc" parameterType="com.example.coding.domain.MainVO" resultType="com.example.coding.domain.MainVO">
    SELECT l.loc_cate_name user_prefer_loc1_name
    FROM loc_cate l, user u
    WHERE u.user_id = #{user_id} AND loc_cate_code = u.user_prefer_loc1

  </select>

  <!-- 유저 선호 타입 이름 가져오기 -->
  <select id="getUserInfo" parameterType="com.example.coding.domain.MainVO" resultType="com.example.coding.domain.MainVO">
    SELECT user_prefer_type1 tour_cate_code_name
    FROM user
    WHERE user_id = #{user_id}
  </select>

  <!-- 메인 유저 선호 1순위 지역에 대한 1/2/3순위 여행지 추천 -->
  <select id="getRecoType" parameterType="com.example.coding.domain.Reco1VO" resultType="com.example.coding.domain.TourVO">
    SELECT tour_num, tour_name, tour_addr, tour_img1_path, tour_img2_path, loc_cate_code
    FROM tour
    WHERE tour_num = #{tour_num1} OR tour_num = #{tour_num2} OR tour_num = #{tour_num3} 
    OR tour_num = #{tour_num4} OR tour_num = #{tour_num5} OR tour_num = #{tour_num6} 
    OR tour_num = #{tour_num7} OR tour_num = #{tour_num8} OR tour_num = #{tour_num9}
  </select>

  <!-- 후기 게시글의 긍정 부정 판단으로 사용자 선호 지역 중에 여행지 추천 -->
  <select id="yesResult" parameterType="com.example.coding.domain.Reco1VO" resultType="com.example.coding.domain.TourVO">
    SELECT tour_num, tour_name, tour_addr, tour_img1_path, tour_img2_path, loc_cate_code
    FROM tour
    WHERE tour_num = #{tour_num1} OR tour_num = #{tour_num2} OR tour_num = #{tour_num3} 
    OR tour_num = #{tour_num4}
  </select>

  
</mapper>