<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *************************** dao interface 경로+이름 -->
<mapper namespace="com.example.coding.dao.MyPageDAO">

<!-- 사용자 프로필 가져오기 -->
<select id="getUserProfile" resultType="UserVO">
    SELECT  *
    FROM    user
    WHERE   user_id = #{userId}
</select>


<!-- 마이페이지 - 메인페이지 - 개수 -->
<!-- 사용자가 작성한 리뷰 개수 조회 -->
<select id="getTouroviewCountByUserId" resultType="int" parameterType="string">
    SELECT  COUNT(*)
    FROM    touroview
    WHERE   user_id = #{userId}
</select>

<!-- 사용자가 작성한 tour_review 댓글 개수 조회 -->
<select id="getTourReviewCountByUserId" resultType="int" parameterType="string">
    SELECT  COUNT(*) 
    FROM    tour_review
    WHERE   user_id = #{userId}
</select>

<!-- 사용자가 작성한 touroview_review 댓글 개수 조회-->
<select id="getTouroviewReviewCountByUserId" resultType="int" parameterType="string">
    SELECT  COUNT(*) 
    FROM    touroview_review
    WHERE   user_id = #{userId}
</select>

<!-- 사용자가 담은 여행지 개수 조회-->
<select id="getTourWishCountByUserId" resultType="int" parameterType="string">
    SELECT  COUNT(*)
    FROM    wishlist
    WHERE   user_id = #{userId}
</select>


<!-- 작성한 글 수 조회 -->
<select id="getUserTouroviewCount" resultType="int">
    SELECT  COUNT(*)
    FROM    touroview
    WHERE   user_id = #{userId}
</select>



<!-- 마이페이지 - 프로필 수정 -->
<!-- 프로필 수정(모달)-->
<update id="updateUserProfile" parameterType="UserVO">
    UPDATE user
    SET
        user_pass = #{user_pass},
        user_gender = #{user_gender},
        user_age = #{user_age},
        user_tel = #{user_tel},
        user_email = #{user_email},
        user_addr = #{user_addr},
        user_prefer_loc1 = #{user_prefer_loc1},
        user_prefer_loc2 = #{user_prefer_loc2},
        user_prefer_loc3 = #{user_prefer_loc3},
        user_prefer_type1 = #{user_prefer_type1},
        user_prefer_type2 = #{user_prefer_type2},
        user_prefer_type3 = #{user_prefer_type3}
    WHERE user_id = #{userId}
</update>



<!-- 마이페이지 - 작성한 글-->
<!-- 여행 후기 -->
<select id="getMyPageTouroviewList" parameterType="TouroviewVO">
    SELECT  *
    FROM    touroview
    WHERE   user_id = #{userId}
</select>

<!-- 여행 후기 리뷰 댓글 -->
<select id="getMyPageTouroviewReviewList" parameterType="TouroviewReviewVO">
    SELECT  *
    FROM    touroview_review
    WHERE   user_id = #{userId}
</select>

<!-- 여행지 리뷰 댓글 -->
<select id="getMyPageTourReviewList" parameterType="TourReviewVO">
    SELECT  *
    FROM    tour_review
    WHERE   user_id = #{userId}
</select>










<!-- 마이페이지 - 여행지 담기 -->
<!-- 여행지 담기 불러오기-->
<select id="getWishList" resultType="WishListVO">
    SELECT wl.*, t.tour_img1_path
        FROM wishlist wl
        JOIN tour t ON wl.tour_num = t.tour_num
        WHERE wl.user_id = #{userId}
</select>






<!-- 마이페이지 문의 내역 -->
<!-- 사용자 문의 답변만 가져오기-->
<select id="getInquiryByUserId" resultType="InquiryVO">
    SELECT  * 
    FROM    inquiry
    WHERE   user_id = #{userId}
</select>


  
</mapper>