<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *************************** dao interface 경로+이름 -->
<mapper namespace="com.example.coding.dao.TouroviewDAO">

<!-- 여행지 찾기 하고 검색 해당 여행지 목록 가져오긴-->
<select id="searchTouroview" parameterType="String">
    SELECT * 
    FROM tour 
    WHERE tour_name LIKE '%' || #{keyword} || '%' OR tour_addr LIKE '%' || #{keyword} || '%';
</select>

<!-- 여행지 목록 -->
<select id="getAllTouroview" resultType="TouroviewVO">
        SELECT * FROM touroview;
</select>

<!-- 후기 게시물 작성 후 db저장-->
<insert id="insertTouroview">
        INSERT INTO touroview (touroview_num, user_id, tour_num, touroview_title, touroview_regdate, touroview_update, touroview_content)
        VALUES (#{touroviewNum}, #{userId}, #{tourNum}, #{touroviewTitle}, #{touroviewRegdate}, #{touroviewUpdate}, #{touroviewContent});
</insert>
  
<insert id="insertviewImage" parameterType="ImgVO">
        INSERT INTO img (img_name, img_real_name, img_size, img_width, img_length)
        VALUES (#{imgName}, #{imgRealName}, #{imgSize}, #{imgWidth}, #{imgLength})
</insert>

</mapper>