<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *************************** dao interface 경로+이름 -->
<mapper namespace="com.example.coding.dao.TouroviewDAO">

<!-- 여행지 찾기 하고 검색 해당 여행지 목록 가져오긴-->
<select id="searchTouroviews" parameterType="String">
    SELECT * 
    FROM tour 
    WHERE tour_name LIKE '%' || #{keyword} || '%' OR tour_addr LIKE '%' || #{keyword} || '%';
</select>

<!-- 후기 게시물 작성 후 입력-->
<insert id="insertTouroview" parameterType="com.example.coding.domain.TouroviewVO">
    INSERT INTO touroview (touroview_num, user_id, tour_num, touroview_title, touroview_regdate, touroview_update, touroview_content)
    VALUES (#{touroview_num}, #{user_id}, #{tour_num}, #{touroview_title}, #{touroview_regdate}, #{touroview_update}, #{touroview_content});
</insert>
  
</mapper>