<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coding.dao.TourListDAO">

<select id="selectAll" resultType="com.example.coding.domain.TourVO" parameterType="com.example.coding.domain.Search">
	SELECT *
	FROM tour 
	<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="tour_cate_code != null and tour_cate_code != '' ">
				AND tour_cate_code like #{tour_cate_code}
			</if>
			
			<if test="keyword != null and keyword != '' ">
				AND tour_name like  CONCAT('%',#{keyword},'%') 
				OR tour_content like CONCAT('%',#{keyword},'%')
			</if>
			<if test="1">
			AND loc_cate_code like 1.0
			</if>
		</trim>
	
	ORDER BY tour_num DESC 
	LIMIT #{startList}, #{listSize}
</select>

<select id="tourListCnt" resultType="int" parameterType="com.example.coding.domain.Search">
		SELECT count(*) as listCnt
		FROM tour 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
				<if test="tour_cate_code=='12'">
					AND tour_cate_code like '12'
				</if>
				<if test="tour_cate_code=='32'">
					AND tour_cate_code like '32'
				</if>
				<if test="tour_cate_code=='39'">
					AND tour_cate_code like '39'
				</if>
				<if test="keyword != null and keyword != '' ">
					AND tour_name like CONCAT('%',#{keyword},'%') 
					OR tour_content like CONCAT('%',#{keyword},'%')
				</if>
				<if test="1">
				AND loc_cate_code like 1.0
				</if>
		</trim>
	</select>

<select id="selectOne" resultType="com.example.coding.domain.TourVO" parameterType="com.example.coding.domain.TourVO">
	SELECT * 
	FROM tour 
	WHERE tour_num=#{tour_num}
</select>

</mapper>