<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *************************** dao interface 경로+이름 -->
<mapper namespace="com.example.coding.dao.TouroviewDAO">

<!-- 후기 게시물 db저장-->
<insert id="saveTouroview">
        INSERT INTO touroview (user_id, tour_num, touroview_title, touroview_regdate, touroview_update, touroview_content)
        VALUES (#{user_id}, #{tour_num}, #{touroview_title}, #{touroview_regdate}, #{touroview_update}, #{touroview_content});
</insert>
  
<!-- 후기 게시물 사진 db 저장-->
<!-- <insert id="insertviewImage" parameterType="ImgVO">
        INSERT INTO img (img_name, img_real_name, img_size, img_width, img_length)
        VALUES (#{imgName}, #{imgRealName}, #{imgSize}, #{imgWidth}, #{imgLength})
</insert> -->


<!-- detail페이지 db 목록 불러오기-->
<select id="getTouroviewByUserId" parameterType="String" resultType="TouroviewVO">
        SELECT * FROM touroview WHERE user_id = #{user_id}
</select>

<!-- 여행지 검색-->
<select id="findByKeyword" parameterType="TourVO" resultType="TourVO"> 
    SELECT * 
    FROM tour
    WHERE tour_name LIKE CONCAT('%', #{keyword}, '%') OR tour_addr LIKE CONCAT('%', #{keyword}, '%');
</select>

<!-- 게시물 수정-->
<update id="updateTouroview" parameterType="TouroviewVO">
        UPDATE touroview
        SET    touroview_title = #{touroviewTitle},
               touroview_content = #{touroviewContent},
        WHERE  touroview_num     = #{touroviewNum}
</update>

<!-- 게시물 삭제-->
<delete id="deleteTouroview" parameterType="int">
        DELETE FROM touroview
        WHERE  touroview_num = #{touroviewNum}
</delete>

</mapper>


